<link rel="stylesheet" href="css/home.css" type="text/css" media="all" />


<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-func.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="first.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="slider">
    <figure>

      
  
         <div class="slide">
          <div class="numbertext">1 / 5</div>
             <img src="css/cover/e10.jpg" alt="">

             <div class="text">

              <h1 class= "  a1 animated bounceInRight">WELCOME TO NET CRITIQUE</h1>
              <p>HERE'S HOW WE HELP YOU FIND STUFF YOU'LL LOVE…

              </p>
              </div>
            </div>
            <div class="slide">
              <div class="numbertext">2 / 5</div>
                <img src="css/cover/e2.jpg" alt="">
                <div class="text">
                  <h5 class= " a2 animated fadeInRight" style="animation-delay:1s ;">First slide label</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.
      
                  </p>
                </div>
               </div>
               <div class="slide">
                <div class="numbertext">3 / 5</div>
                <img src="css/cover/f1.jpg" alt="">
                <div class="text">
                  <h5 class= "animated fadeInRight" style="animation-delay:1s ;">First slide label</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
               </div>
  
               <div class="slide">
                <div class="numbertext">4 / 5</div>
                <img src="css/cover/e7.jpg">
                <div class="text">
                  <h5 class= "animated bounceInRight" style="animation-delay:1s ;">First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
               </div>
               <div class="slide">
                <div class="numbertext">5 / 5</div>
                <img src="css/cover/e10.jpg">
                <div class="text">
                  <h5 class= "animated bounceInRight" style="animation-delay:1s ;">First slide label</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                
                </div>
               </div>



             


  
  
    </figure>


    <a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

  </div>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
  

<script>
  var slideIndex = 0;
  showSlides();
  
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("slide");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "active";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4500); // Change image every 2 seconds
  }
  </script>








