<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/collection.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-func.js"></script>





<H1><B><U> MOVIES COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
    <div id="header">
      

    <div id="sub-navigation">
      <ul>
        
        <li><a href="#"><h2>NEW IN THEATERES</h2></a></li>
      </ul>
      
    </div>
  </div>
  
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          
          
        </div>
{{#each data}}
        <div class="movie">
    
          <div class="desc"><b>{{this.Title}}</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src={{this.Poster}} alt="">
    
                <div class="overlay">
                   <h2>{{this.Title}}</h2>
                   <a class="info" href="http://localhost:5000/app/movie/{{this._id}}">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
           
      </div>



        {{/each}}
      <div class="cl">&nbsp;</div>
      </div>
      </div>
</div>
</div>



       
        {{!-- <div class="movie">
            <div class="desc"><b>JUST MERCY</b></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                  <img class="img-responsive" src="css/images/new/22.jpg" alt="">
      
                  <div class="overlay">
                     <h2>JUST MERCY</h2>
                     <a class="info" href="#">READ MORE</a>
                  </div>
              </div>
          </div>
          <div class="rating">
            <p>RATING</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
             </div>
        </div>
        <div class="movie">
            <div class="desc"><b>LIKE A BOSS</b></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                  <img class="img-responsive" src="css/images/new/23.jpg" alt="">
      
                  <div class="overlay">
                     <h2>LIKE A BOSS</h2>
                     <a class="info" href="#">READ MORE</a>
                  </div>
              </div>
          </div>
          <div class="rating">
            <p>RATING</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
             </div>
        </div>
        <div class="movie">
            <div class="desc"><b>UNDER WATER</b></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                  <img class="img-responsive" src="css/images/new/24.jpg" alt="">
      
                  <div class="overlay">
                     <h2>UNDER WATER</h2>
                     <a class="info" href="#">READ MORE</a>
                  </div>
              </div>
          </div>
          <div class="rating">
            <p>RATING</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            </div>
        </div>
        <div class="movie">
            <div class="desc"><b>THE INFORMER</b></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                  <img class="img-responsive" src="css/images/new/25.jpg" alt="">
      
                  <div class="overlay">
                     <h2>THE INFORMER</h2>
                     <a class="info" href="#">READ MORE</a>
                  </div>
              </div>
          </div>
          <div class="rating">
            <p>RATING</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
             </div>

        </div>
        
         
        
          
        <br
      </div>
      <div id="main">
        <div id="content">
          <div class="box">
            <div class="head">
              
              
            </div>
            <div class="movie">
                <div class="desc"><b>STAR WARS</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/26.jpg" alt="">
          
                      <div class="overlay">
                         <h2>STAR WARS</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
            </div>
            <div class="movie">
                <div class="desc"><b>JUMANJI</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/27.jpg" alt="">
          
                      <div class="overlay">
                         <h2>JUMANJI</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
            </div>
            <div class="movie">
                <div class="desc"><b>LITTLE WOMEN</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/28.jpg" alt="">
          
                      <div class="overlay">
                         <h2>LITTLE WOMEN</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
            </div>
            <div class="movie">
                <div class="desc"><b>THE GRUDGE</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/29.jpg" alt="">
          
                      <div class="overlay">
                         <h2>THE GRUDGE</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                </div>
            </div>
            <div class="movie">
                <div class="desc"><b>FROZEN II</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/30.jpg" alt="">
          
                      <div class="overlay">
                         <h2>FROZEN II</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
    
            </div>
            <br>
            <div class="movie">
                <div class="desc"><b>SPIES DISGUISE</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/31.jpg" alt="">
          
                      <div class="overlay">
                         <h2>SPIES DISGUISE</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
    
            </div>
            <div class="movie">
                <div class="desc"><b>KINVES OUT</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/32.jpg" alt="">
          
                      <div class="overlay">
                         <h2>KINVES OUT</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
    
            </div>
            <div class="movie">
                <div class="desc"><b>ADAM SANDLER</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/33.jpg" alt="">
          
                      <div class="overlay">
                         <h2>ADAM SANDLER</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
    
            </div>
            <div class="movie">
                <div class="desc"><b>BOMB SHELL</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/34.jpg" alt="">
          
                      <div class="overlay">
                         <h2>BOMB SHELL</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
    
            </div>
            <div class="movie">
                <div class="desc"><b>CATS</b></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="hovereffect">
                      <img class="img-responsive" src="css/images/new/35.jpg" alt="">
          
                      <div class="overlay">
                         <h2>CATS</h2>
                         <a class="info" href="#">READ MORE</a>
                      </div>
                  </div>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"> </div>
                </div>
                 </div>
    
            </div>
            
            
             <br><br>
             
            
              
            <div class="cl">&nbsp;</div>
          </div>
      </div>
      </div>
      </div> --}}
      
    