<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/collection.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-func.js"></script>






<H1><B><U> MOVIES COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
    <div id="header">
      

    <div id="sub-navigation">
      <ul>
        
        <li><a href="#"><h2>TOP RATED</h2></a></li>
      </ul>
      
    </div>
  </div>
  
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          
          
        </div>
  {{#each data}}      
        <div class="movie">
          <div class="desc"><b>{{this.Title}}</b></div>
          <div class="l-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src={{this.Poster}} alt="">
    
                <div class="overlay">
                   <h2>{{this.Title}}</h2>
                   <a class="info" href="http://localhost:5000/app/movie/{{this._id}}">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>

{{/each}}       
            
              
            <div class="cl">&nbsp;</div>
          </div>
      </div>
      </div>
      </div>


      {{!-- <div class="movie">
          <div class="desc"><b>THE GODFATHER</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/2.jpg" alt="">
    
                <div class="overlay">
                   <h2>THE GODFATHER</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>THE GODFATHER II</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/3.jpg" alt="">
    
                <div class="overlay">
                   <h2>THE GODFATHER II</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>DARK KNIGHT</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/4.jpg" alt="">
    
                <div class="overlay">
                   <h2>DARK KNIGHT</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          </div>
      </div>
      <div class="movie">
          <div class="desc"><b>ANGRY MAN</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/5.jpg" alt="">
    
                <div class="overlay">
                   <h2>ANGRY MAN</h2>
                   <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>

      </div>
      
       
      
        
      <br
    </div>
    <div id="main">
      <div id="content">
        <div class="box">
          <div class="head">
            
            
          </div>
          <div class="movie">
              <div class="desc"><b>SCHINDLERS LIST</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/6.jpg" alt="">
        
                    <div class="overlay">
                       <h2>SCHINDLERS LIST</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>L.O.RINGS</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/7.jpg" alt="">
        
                    <div class="overlay">
                       <h2>L.O.RINGS</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>PULP FICTION</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/8.jpg" alt="">
        
                    <div class="overlay">
                       <h2>PULP FICTION</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>T.G.B.A.U</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/9.jpg" alt="">
        
                    <div class="overlay">
                       <h2>T.G.B.A.UGLY</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
              </div>
          </div>
          <div class="movie">
              <div class="desc"><b>LORD OF RING</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/10.jpg" alt="">
        
                    <div class="overlay">
                       <h2>LORD OF RING</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <br>
          <div class="movie">
              <div class="desc"><b>CLUB</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/11.jpg" alt="">
        
                    <div class="overlay">
                       <h2>CLUB</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>T.H.F.G</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/12.jpg" alt="">
        
                    <div class="overlay">
                       <h2>T.H.F.G</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>INCEPTION</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/13.jpg" alt="">
        
                    <div class="overlay">
                       <h2>INCEPTION</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>STAR WARS</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/14.jpg" alt="">
        
                    <div class="overlay">
                       <h2>STAR WARS</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>LORD OF RING</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/15.jpg" alt="">
        
                    <div class="overlay">
                       <h2>LORD OF RING</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
             <br><br>
             
            
              
            <div class="cl">&nbsp;</div>
          </div>
      </div>
      </div>
      </div>
<H1><B><U> MOVIES COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
    <div id="header">
      

    <div id="sub-navigation">
      <ul>
        
        <li><a href="#"><h2>TOP RATED</h2></a></li>
      </ul>
      
    </div>
  </div>
  
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          
          
        </div>
        
        <div class="movie">
          <div class="desc"><b>SHAWSHANK</b></div>
          <div class="l-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/1.jpg" alt="">
    
                <div class="overlay">
                   <h2>SHAWSHANK</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>THE GODFATHER</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/2.jpg" alt="">
    
                <div class="overlay">
                   <h2>THE GODFATHER</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>THE GODFATHER II</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/3.jpg" alt="">
    
                <div class="overlay">
                   <h2>THE GODFATHER II</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>DARK KNIGHT</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/4.jpg" alt="">
    
                <div class="overlay">
                   <h2>DARK KNIGHT</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          </div>
      </div>
      <div class="movie">
          <div class="desc"><b>ANGRY MAN</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/images/top/5.jpg" alt="">
    
                <div class="overlay">
                   <h2>ANGRY MAN</h2>
                   <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>

      </div>
      
       
      
        
      <br
    </div>
    <div id="main">
      <div id="content">
        <div class="box">
          <div class="head">
            
            
          </div>
          <div class="movie">
              <div class="desc"><b>SCHINDLERS LIST</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/6.jpg" alt="">
        
                    <div class="overlay">
                       <h2>SCHINDLERS LIST</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>L.O.RINGS</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/7.jpg" alt="">
        
                    <div class="overlay">
                       <h2>L.O.RINGS</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>PULP FICTION</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/8.jpg" alt="">
        
                    <div class="overlay">
                       <h2>PULP FICTION</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>T.G.B.A.U</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/9.jpg" alt="">
        
                    <div class="overlay">
                       <h2>T.G.B.A.UGLY</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
              </div>
          </div>
          <div class="movie">
              <div class="desc"><b>LORD OF RING</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/10.jpg" alt="">
        
                    <div class="overlay">
                       <h2>LORD OF RING</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <br>
          <div class="movie">
              <div class="desc"><b>CLUB</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/11.jpg" alt="">
        
                    <div class="overlay">
                       <h2>CLUB</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>T.H.F.G</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/12.jpg" alt="">
        
                    <div class="overlay">
                       <h2>T.H.F.G</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>INCEPTION</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/13.jpg" alt="">
        
                    <div class="overlay">
                       <h2>INCEPTION</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>STAR WARS</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/14.jpg" alt="">
        
                    <div class="overlay">
                       <h2>STAR WARS</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>LORD OF RING</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/images/top/15.jpg" alt="">
        
                    <div class="overlay">
                       <h2>LORD OF RING</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
             <br><br> --}}
      