<H1><B><U> TV SHOW COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
    <div id="header">
      

    <div id="sub-navigation">
      <ul>
        
        <li><a href="#"><h2>TOP RATED TV SHOWS</h2></a></li>
      </ul>
      
    </div>
  </div>
  
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          
          
        </div>
        
        <div class="movie">
          <div class="desc"><b>PLANET EARTH II</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/1.jpg" alt="">
    
                <div class="overlay">
                   <h2>PLANET EARTH II</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>PLANET EARTH</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/2.jpg" alt="">
    
                <div class="overlay">
                   <h2>PLANET EARTH</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>B.O.BROTHERS</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/3.jpg" alt="">
    
                <div class="overlay">
                   <h2>B.O.BROTHERS</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>BREAKING BAD</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/4.jpg" alt="">
    
                <div class="overlay">
                   <h2>BREAKING BAD</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          </div>
      </div>
      <div class="movie">
          <div class="desc"><b>CHERNOBYL</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/5.jpg" alt="">
    
                <div class="overlay">
                   <h2>CHERNOBYL</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>

      </div>
      
       
      
        
      <br
    </div>
    <div id="main">
      <div id="content">
        <div class="box">
          <div class="head">
            
            
          </div>
          <div class="movie">
              <div class="desc"><b>BLUE PLANET II</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/6.jpg" alt="">
        
                    <div class="overlay">
                       <h2>BLUE PLANET II</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>THE WIRE</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/7.jpg" alt="">
        
                    <div class="overlay">
                       <h2>THE WIRE</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>G.O.T</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/8.jpg" alt="">
        
                    <div class="overlay">
                       <h2>G.O.T</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
          </div>
          <div class="movie">
              <div class="desc"><b>OUR PLANET</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/9.jpg" alt="">
        
                    <div class="overlay">
                       <h2>OUR PLANET</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
              </div>
          </div>
          <div class="movie">
              <div class="desc"><b>COSMOS</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/10.jpg" alt="">
        
                    <div class="overlay">
                       <h2>COSMOS</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <br>
          <div class="movie">
              <div class="desc"><b>COSMOS</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/11.jpg" alt="">
        
                    <div class="overlay">
                       <h2>COSMOS</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>R. AND MROXY</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/12.jpg" alt="">
        
                    <div class="overlay">
                       <h2>R. AND MROXY</h2>
                       <a class="info" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          <div class="movie">
              <div class="desc"><b>AVATAR</b></div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="css/tvshow/top/13.jpg" alt="">
        
                    <div class="overlay">
                       <h2>AVATAR</h2>
                       <a class="info" href="#">READ MORE/a>
                    </div>
                </div>
            </div>
            <div class="rating">
              <p>RATING</p>
              <div class="stars">
                <div class="stars-in"> </div>
              </div>
               </div>
  
          </div>
          

            
             <br><br>
             
            
              
            <div class="cl">&nbsp;</div>
          </div>
      </div>
      </div>
      </div>
