<link rel="stylesheet" href="css/index.css" type="text/css" media="all" />


<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<H1><B><U> TV SHOW COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
    <div id="header">
      

    <div id="sub-navigation">
      <ul>
        
        <li><a href="#">NEW TV SHOW</a></li>
        <li><a href="#">TOP RATED</a></li>
        <li><a href="#">POPULAR TV SHOW</a></li>
      </ul>
      
    </div>
  </div>
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          <h2>NEW TV SHOW</h2>
          <p class="text-right"><a href="tv-new.html">See all</a></p>
        </div>
        
           <div class="movie">
          <div class="desc"><b>BIG MOUTH</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/new/1.jpg" alt="">
    
                <div class="overlay">
                   <h2>BIG MOUTH</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>THE GOOD PLACE</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/new/2.jpg" alt="">
    
                <div class="overlay">
                   <h2>THE GOOD PLACE</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>W.I.PROGRESS</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/new/3.jpg" alt="">
    
                <div class="overlay">
                   <h2>WORK IN PROGRESS</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>B.J HORSEMAN</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/new/4.jpg" alt="">
    
                <div class="overlay">
                   <h2>BOJACK HORSEMAN</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          </div>
      </div>
      <div class="movie">
          <div class="desc"><b>MR ROBOT</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/new/5.jpg" alt="">
    
                <div class="overlay">
                   <h2>MR ROBOT</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>

      </div>
       
        <div class="cl">&nbsp;</div>
      </div>
      <div class="box">
        <div class="head">
          <h2>TOP RATED</h2>
          <p class="text-right"><a href="tv-top.html">See all</a></p>
        </div>
        
        <div class="movie">
          <div class="desc"><b>PLANET EARTH II</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/1.jpg" alt="">
    
                <div class="overlay">
                   <h2>PLANET EARTH II</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>PLANET EARTH</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/2.jpg" alt="">
    
                <div class="overlay">
                   <h2>PLANET EARTH</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>B.O.BROTHERS</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/3.jpg" alt="">
    
                <div class="overlay">
                   <h2>BAND OF BROTHERS</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>BREAKING BAD</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/4.jpg" alt="">
    
                <div class="overlay">
                   <h2>BREAKING BAD</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          </div>
      </div>
      <div class="movie">
          <div class="desc"><b>CHERNOBYL</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/top/5.jpg" alt="">
    
                <div class="overlay">
                   <h2>CHERNOBYL</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>

      </div>
        
        
        <div class="cl">&nbsp;</div>
      </div>
      <div class="box">
        <div class="head">
          <h2>POPULAR TV SHOW</h2>
          <p class="text-right"><a href="tv-popular.html">See all</a></p>
        </div>

        
        <div class="movie">
          <div class="desc"><b>THE WITCHER</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/popular/1.jpg" alt="">
    
                <div class="overlay">
                   <h2>THE WITCHER</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>YOU</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/popular/2.jpg" alt="">
    
                <div class="overlay">
                   <h2>YOU</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>STAR WARS</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/popular/3.jpg" alt="">
    
                <div class="overlay">
                   <h2>STAR WARS</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>
      <div class="movie">
          <div class="desc"><b>MESSIAH</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/popular/4.jpg" alt="">
    
                <div class="overlay">
                   <h2>MESSIAH</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
          </div>
      </div>
      <div class="movie">
          <div class="desc"><b>DRACULA</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="css/tvshow/popular/5.jpg" alt="">
    
                <div class="overlay">
                   <h2>DRACULA</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>

      </div>
       
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    </div>
    </div>
    
